# Paste your OpenAI API key here
OPENAI_API_KEY=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